@page
@model Group1_CourseOnline.Pages.Admin.Orders.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Order Management</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                        <li class="breadcrumb-item active">Order</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card card-solid">
            <div class="card-body pb-0">

                <form id="productForm" method="post" asp-page-handler="DeleteProducts">
                    <p class="dark">@ViewBag.error</p>
                    <div class="container-fluid">

                        <div class="row pb-2 mx-2 justify-content-between">

                            <button class="btn btn-success btn-sm  py-2  px-4" type="submit">
                                <i class="fas fa-plus">
                                </i>
                            </button>
                            @*<div>
                                <input type="checkbox" id="selectAll" />
                                <input type="checkbox" id="selectAll" />
                                <label for="selectAll">Select All</label>
                                <button class="btn btn-primary btn-sm py-2 px-4" type="submit">
                                    <i class="fas fa-lock">
                                    </i>
                                </button>
                            </div>*@

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">


                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="example1" class="table table-bordered table-striped">

                                            <thead>
                                                <tr>

                                                    <th>#</th>
                                                    <th>Order ID</th>
                                                    <th>Customer</th>
                                                    <th>Order Date</th>
                                                    <th>Required Date</th>
                                                    <th>Unit Price</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                                @foreach (var item in Model.Orders)
                                                {
                                                    var od = item.OrderDate as DateTime?;
                                                    var rqd = item.RequiredDate as DateTime?;
                                                    <tr>
                                                        <td> <input type="checkbox" name="selectedProductIds" value="" /></td>
                                                        <td>@item.OrderId</td>
                                                        <td>@item.OrderNavigation.LastName</td>
                                                        <td>@(od.HasValue ? od.Value.ToString("dd/MM/yyyy") : "")</td>
                                                        <td>@(rqd.HasValue ? rqd.Value.ToString("dd/MM/yyyy") : "")</td>
                                                        <td>
                                                                @{
                                                                    decimal totalPrice = item.OrderDetails.Sum(od => od.UnitPrice);
                                                                    @totalPrice
                                                                }
                                                        </td>
                                                        <td>
                                                            <a class="fa fa-eye" aria-hidden="true" asp-page="OrderDetails" asp-route-id="@item.OrderId">
                                                                
                                                            </a>
                                                        </td>
                                                        
                                                        @*<td>
                                                            @if (@item.Status == true)
                                                            {
                                                                <a class="btn btn-sm bg-success" asp-route-id="@item.CustomerId" asp-route-status="@false">
                                                                    <i class="fas fa-unlock"></i>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a class="btn btn-sm bg-danger" asp-route-id="@item.CustomerId" asp-route-status="@true">
                                                                    <i class="fas fa-lock"></i>
                                                                </a>
                                                            }

                                                            <button class="btn btn-sm btn-primary" onclick="viewProfile('@item.CustomerId')">
                                                                <i class="fas fa-user"></i> View Profile
                                                            </button>
                                                        </td>*@


                                                    </tr>
                                                }


                                            </tbody>

                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

    </section>
    <!-- /.content -->
</div>

<script>
    $(document).ready(function () {
        $('form').submit(function (e) {
            e.preventDefault();

            var selectedProductIds = $('input[name="selectedProductIds"]:checked')
                .map(function () {
                    return parseInt($(this).val()); // Chuyển đổi giá trị sang kiểu số nguyên
                })
                .get();

            if (selectedProductIds.length > 0) {
                var form = $(this);
                var url = '@Url.Page("Admin/Customers")?pagenumber=' + pageNumber;
                var returnUrl = window.location.href; // Lấy đường dẫn trang hiện tại
                $.ajax({
                    type: 'POST',
                    url: url,
                    traditional: true, // Sử dụng kiểu truyền thống để truyền mảng
                    data: { selectedProductIds: selectedProductIds },
                    success: function (response) {
                        // Xử lý phản hồi thành công
                        console.log(response);
                        window.location.href = response; // Chuyển hướng đến trang được trả về
                    },

                });
            }
        });
    });


</script>

