@page
@model Group1_CourseOnline.Pages.Admin.BoughtModel
@{
}
<div class="container p-0">
    <h1 class="h3 mb-3">Settings</h1>
    <div class="row">
        <div class="col-md-5 col-xl-4">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Profile Settings</h5>
                </div>
                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action " asp-page="UserProfile">
                        Account
                    </a>
                    @{
                        
                        var serializedAccount = HttpContext.Session.GetString("Account");
                        var options = new JsonSerializerOptions
                         {
                            ReferenceHandler = ReferenceHandler.Preserve
                         };
                        var account = string.IsNullOrEmpty(serializedAccount) ? null : JsonSerializer.Deserialize<Account>(serializedAccount, options);
                        if (account != null && account.IsSocialAccount == false) {
                             <a class="list-group-item list-group-item-action" asp-page="ChangePassword">Password</a>
                        }
                     }
                    <a class="list-group-item list-group-item-action active" asp-page="Bought">
                        Bought
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">

                        <!-- The timeline -->
                        @foreach (var item in ViewBag.owmCourse)
                        {
                            <div class="timeline timeline-inverse">

                                <!-- timeline time label -->
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <div>
                                    <i class="fa fa-cart-plus"></i>

                                    <div class="timeline-item">
                                        <div class="time-label">
                                            <span>
                                                @item.OrderDate
                                                <span class="time"><i class="fa fa-clock-o"></i> @item.OrderTime</span>

                                            </span>
                                        </div>
                                        <div class="timeline-body">

                                            <div class="row">
                                                <div class="col-3">
                                                    <img class="img-fluid" src="@item.Image" alt="">

                                                </div>
                                                <div class="col-9">
                                                    <a asp-route-productId="@item.ProductId" asp-page="CourseDetails"> <h4 class="text-uppercase text-3xl text-dark">@item.ProductName</h4></a>

                                                    By<a href="#"> @item.FirstName@item.LastName</a>
                                                    <hr>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

