@page
@model Group1_CourseOnline.Pages.SearchModel
@{
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}
<section class="post-content-area">
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-4 sidebar-widgets">

                <div class="widget-wrap">
                    <div class="my-2 text-center">
                        <form method="get">
                            <input class="py-1 border-2 w-80" name="search" type="text" placeholder="Serach Blog" />
                            <button class="btn bg-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>


                        </form>

                    </div>
                    <div class="single-sidebar-widget popular-post-widget ">
                        <h4 class="popular-title">News Categorys</h4>
                        <div class="popular-post-list">
                            @foreach (var item in Model.NewCategorys)
                            {
                                <div class="single-post-list d-flex flex-row align-items-center">

                                    <div class="details">
                                        <a asp-route-id="@item.NewCategoryId">
                                            <h6 style="text-overflow: ellipsis;">@item.Name</h6>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>

                <div class="widget-wrap">
                    <div class="single-sidebar-widget popular-post-widget ">
                        <h4 class="popular-title">News Posts</h4>
                        <div class="popular-post-list">
                            @foreach (var item in Model.LatestNews)
                            {
                                <div class="single-post-list d-flex flex-row align-items-center">
                                    <div class="thumb">
                                        <img class="img-fluid" src="@item.NewsImage" style="width:100px" alt="">
                                    </div>
                                    <div class="details">
                                        <a href="@Url.Page("BlogDetail", new { id = item.NewsId})">
                                            <h6 style="text-overflow: ellipsis;">@item.NewsTitle</h6>
                                        </a>
                                        <p>@item.CreatedBy</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 posts-list">
          

             
                @foreach (var item in ViewBag.products)
                {

                    <div class="single-post row">

                        <div class="col-lg-12 col-md-12 ">
                            <div class="row">
                                <div class="col-5 feature-img" style="margin-top:10px">
                                    <img class="img-fluid" src="@item.Image">
                                </div>
                                <div class="col-7">
                                    <a class="posts-title" href="@Url.Page("CourseDetails", new {productid = item.ProductId})"><h4><a class="btn-primary text-white">Course</a>    @item.ProductName</h4></a>


                                    <div class="row">
                                        <div class="col-12 py-2 text-truncate">
                                            @item.ProductDescription
                                        </div>
                                    </div>
                                    <a href="@Url.Page("CourseDetails", new { productid = item.ProductId})" class="primary-btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                @foreach (var item in Model.News)
                {

                    <div class="single-post row">

                        <div class="col-lg-12 col-md-12 ">
                            <div class="row">
                                <div class="col-5 feature-img" style="margin-top:10px">
                                    <img class="img-fluid" src="@item.NewsImage">
                                </div>
                                <div class="col-7">
                                    <a class="posts-title" href="@Url.Page("BlogDetail", new {id = item.NewsId})"><h4><a class="btn-success text-white">Blog</a>   @item.NewsTitle</h4></a>

                                    <div class="user-details row">
                                        <p class="view col-lg-12 col-md-12 col-6"> <span class="lnr lnr-user"></span> <a href="#">@item.Employee.FirstName @item.Employee.LastName</a> <span class="lnr lnr-calendar-full"></span>@item.CreateDate</p>
                                        @*<p ><a href="#">1.2M Views</a> <span class="lnr lnr-eye"></span></p>
                                    <p class="comments col-lg-12 col-md-12 col-6"><a href="#">06 Comments</a> <span class="lnr lnr-bubble"></span></p>*@
                                    </div>
                                    <div class="row">
                                        <div class="col-12 py-2 text-truncate">
                                            @item.NewsContent
                                        </div>
                                    </div>
                                    <a href="@Url.Page("BlogDetail", new { id = item.NewsId})" class="primary-btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>



            <div class="col-6 m-auto">

                <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">

                        <li class="page-item">
                            <a  asp-route-pagenumber="@(Model.pageNumber-1)" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">
                                    <span class="lnr lnr-chevron-left"></span>
                                </span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.totalPage; i++)
                        {
                            if (i == Model.pageNumber)
                            {
                                <li class="page-item active"><a asp-route-search="@Model.Search" asp-route-pagenumber="@i" class="page-link" asp-page="Search">@i</a></li>
                            }
                            else

                            {
                                <li class="page-item"><a asp-route-search="@Model.Search"  asp-route-pagenumber="@i" class="page-link" asp-page="Search">@i</a></li>

                            }
                        }
                        <li class="page-item">
                            <a asp-route-pagenumber="@(Model.pageNumber+1)" class="page-link" aria-label="Next">
                                <span aria-hidden="true">
                                    <span class="lnr lnr-chevron-right"></span>
                                </span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>

        </div>
    </div>

</section>
