@page
@model Group1_CourseOnline.Pages.Admin.Customers.DetailsModel
@{
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}
<div id="AlertContainer" style="position: fixed; top: 50px; right: 40px; z-index: 9999;">
    @if (TempData["AlertMessage"] != null)
    {
        <div id="AlertBox" class="alert alert-dismissible @TempData["AlertType"]" role="alert">
            <strong>@TempData["Notification"]!</strong>
            @TempData["AlertMessage"]
        </div>
    }
</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
                        <li class="breadcrumb-item active"><a href="/Admin/Customers">Customer</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="@Model.Customers.Avatar">


                            </div>

                            <h3 class="profile-username text-center"> @Model.Customers.FirstName @Model.Customers.LastName</h3>


                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Comments</b> <a class="float-right">@Model.CommentsNumber</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Owned Course </b> <a class="float-right">@Model.CourseNumber</a>
                                </li>
                                <li class="list-group-item ">
                                    <b>Status</b>  
                                    @if (@Model.Customers.Status == true)
                                    {
                                        <a class=" float-right btn btn-sm bg-success" asp-route-id="@Model.Customers.CustomerId" asp-route-status="@false" asp-page="Index">
                                            <i class="fas fa-unlock"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class=" float-right btn btn-sm bg-danger" asp-route-id="@Model.Customers.CustomerId" asp-route-status="@true" asp-page="Index">
                                            <i class="fas fa-lock"></i>
                                        </a>
                                    }
                                </li>
                            </ul>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Information</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-phone mr-1"></i> Phone</strong>

                            <p class="text-muted justify-item-around">
                                <a id="phoneNumber" href="tel:@Model.Customers.Phone">@Model.Customers.Phone</a>
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                            <p class="text-muted">@Model.Customers.Address</p>

                            <hr>

                            <strong><i class="fas fa-birthday-cake mr-1"></i> Date of birth </strong>

                            <p class="text-muted">
                                @Model.Customers.BirthDate
                            </p>

                            <hr>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Owned Course</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content" style="max-height: 590px; overflow-y: scroll;">
                                <div class="active tab-pane" id="activity">
                                    <!-- Post -->
                                    @foreach (var item in ViewBag.Comments)
                                    {
                                        <div class="post">

                                            <div class="user-block">
                                                <img class="img-circle img-bordered-sm" src="@item.Image" alt="user image">
                                                <span class="username">
                                                    <a href="#">@item.LastName @item.FirstName</a>

                                                    <img src="@item.ProductImage">

                                                    <p>@item.ProductName</p>



                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        @if (i <= item.Rating)
                                                        {
                                                            <span class="fa fa-star text-blue"></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="fa fa-star"></span>

                                                        }

                                                    }



                                                    <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                                                </span>

                                            </div>
                                            <!-- /.user-block -->

                                            <div class="col-10 m-auto">
                                                <span class="description">Shared publicly - @item.CommentTime Days ago</span>
                                                <hr>
                                                <p>

                                                    @item.Content
                                                </p>
                                            </div>



                                        </div>
                                    }

                                    <!-- /.post -->
                                    <!-- Post -->
                                    <!-- /.post -->
                                    <!-- Post -->
                                    <!-- /.post -->
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="timeline" ">          
                                    
                                    @foreach (var item in ViewBag.owmCourse)
                                    {
                                        <div class="timeline timeline-inverse">
                                            
                                            <!-- timeline time label -->
                                            <div class="time-label">
                                                <span class="bg-danger">
                                                    @item.OrderDate
                                                </span>
                                            </div>
                                            <!-- /.timeline-label -->
                                            <!-- timeline item -->
                                            <div>
                                                <i class="fas fa-cart-plus bg-primary"></i>

                                                <div class="timeline-item">
                                                    <span class="time"><i class="far fa-clock"></i> @item.OrderTime</span>
                                                    <div class="timeline-body">

                                                        <div class="row">
                                                            <div class="col-3">
                                                                <img class="img-fluid" src="@item.Image" alt="">

                                                            </div>
                                                            <div class="col-9">
                                                                <a href="#"> <h4 class="text-uppercase text-3xl text-dark">@item.ProductName</h4></a>
                                                                By<a href="#"> @item.FirstName@item.LastName</a>
                                                                <hr>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }

                                </div>
                               
                            </div>
                          
                        </div>
                    </div>

                </div>
              
            </div>
           
        </div>
    </section>
</div>
<script>
    document.getElementById('callButton').addEventListener('click', function () {
        var phoneNumber = document.getElementById('phoneNumber').innerText;
        window.location.href = 'tel:' + phoneNumber;
    });
</script>