@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Group1_CourseOnline.Pages.Admin.Menus.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout1.cshtml";
    int count = 1;
}
<div id="AlertContainer" style="position: fixed; top: 50px; right: 40px; z-index: 9999;">
    @if (TempData["AlertMessage"] != null)
    {
        <div id="AlertBox" class="alert alert-dismissible @TempData["AlertType"]" role="alert">
            <strong>@TempData["Notification"]!</strong>
            @TempData["AlertMessage"]
        </div>
    }
</div>



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Menu Manager</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
                        <li class="breadcrumb-item active">Menus</li>
                    </ol>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <form method="post" asp-page-handler="DisabelViewSelectItem">
            <div class="container-fluid">
                <!-- Popup create category course-->
                <div class="row pb-2 mx-2 justify-content-between">
                    <button class="btn btn-success btn-sm py-2 px-4" type="button" data-toggle="modal" data-target="#createCategoryModal">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button id="btnDelete" class="btn btn-primary btn-sm py-2 px-4" type="submit" disabled>
                        <i class="fas fa-eye-slash">
                        </i>
                    </button>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <!-- /.card-header -->
                            <div class="card-body">

                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th> <input type="checkbox" id="selectAllCategory" /></th>
                                            <th>#</th>
                                            <th>Menu Name</th>
                                            <th>Url</th>
                                            <th style="width:100px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Menus)
                                        {
                                                <tr>
                                                    <td width="10px"> <input type="checkbox" name="selectedCategoryId" value="@item.MenuId" /></td>
                                                    <td>@count</td>
                                                    <td>@item.MenuName</td>
                                                    <td>@item.Url</td>
                                                    <td>
                                                        <a asp-route-menuId="@item.MenuId" asp-page="Index"><i class="fa fa-edit" style="font-size:16px; margin-left: 10px" data-toggle="modal" data-target="#editCategoryModal" aria-hidden="true"></i></a>
                                                    @if (@item.Status == true)
                                                    {
                                                        <a  asp-page="DisableView" asp-route-menuId="@item.MenuId" asp-route-status="@false">
                                                           <i style="color:green" class="fas fa-eye"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a  asp-page="DisableView" asp-route-menuId="@item.MenuId" asp-route-status="@true">
                                                           <i style="color:red" class="fas fa-eye-slash"></i>
                                                        </a>
                                                    }

                                                    </td>
                                                </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>


<div class="modal fade" id="createCategoryModal" tabindex="-1" role="dialog" aria-labelledby="createCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="createCategoryModalLabel">Create new menu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary()
                <form method="post">
                    <div class="form-group">
                        <label for="categoryName">Menu Name</label>
                        <input type="text" class="form-control" id="categoryName" placeholder="Enter the menu name" asp-for="Menu.MenuName" required>
                    </div>
                    <div class="form-group">
                        <label for="categoryDescription">Url</label>
                        <input type="text" class="form-control" id="categoryName" placeholder="Enter the url menu" asp-for="Menu.Url">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@if (Model.id != 0)
{
    <div class="modal show fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="createCategoryModalLabel">Menu Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.ValidationSummary()
                    <form method="post" asp-route-menuId="@Model.Menu.MenuId">
                        <div class="form-group">
                            <label for="categoryName">Menu name</label>
                            <input type="text" class="form-control" id="categoryName" placeholder="Enter the menu name" asp-for="Menu.MenuName" value="@Model.Menu.MenuName" required>
                        </div>
                        <div class="form-group">
                            <label for="categoryDescription">Url</label>
                            <input type="text" class="form-control" id="categoryName" placeholder="Enter the url menu" asp-for="Menu.Url" value="@Model.Menu.Url">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function openDeleteModal(element) {
        var categoryId = element.getAttribute('data-categoryId');
        document.getElementById('deleteCategoryId').value = categoryId;
    }
    $(document).ready(function () {
        $('form').submit(function (e) {
            e.preventDefault();

            var selectedCategoryId = $('input[name="selectedCategoryId"]:checked')
                .map(function () {
                    return parseInt($(this).val()); // Chuyển đổi giá trị sang kiểu số nguyên
                })
                .get();

            if (selectedProductIds.length > 0) {
                var form = $(this);
                var url = '@Url.Page("Admin/Categories")?pagenumber=' + pageNumber;
                var returnUrl = window.location.href; // Lấy đường dẫn trang hiện tại
                $.ajax({
                    type: 'POST',
                    url: url,
                    traditional: true, // Sử dụng kiểu truyền thống để truyền mảng
                    data: { selectedCategoryId: selectedCategoryId },
                    success: function (response) {
                        // Xử lý phản hồi thành công
                        console.log(response);
                        window.location.href = response; // Chuyển hướng đến trang được trả về
                    },
                });
            }
        });
    });

</script>